::-webkit-scrollbar {
    display: none;
}

.mosaic-scroll-bar {
    background-color: #2b2b2b;
    background: -webkit-linear-gradient(bottom right, #FF5F6D, #FFC371);
    border-radius: 5px;
    height: 200px;
    left: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.mosaic-scroll-bar-scroller {
    background-color: #2b2b2b;
    height: 28px;
    width: 1px;
}

@media (max-width: 1130px) {
    ::-webkit-scrollbar {
        display: initial;
    }

    .mosaic-scroll-bar {
        display: none;
    }
}
