body {
  font-family: 'Roboto Mono';
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  cursor: default;
}

.hero {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a {
  color: rgba(0, 0, 0, 0.7);
  transition: 0.2s ease;
}

footer {
  text-align: center;
  margin: 2em 0;
}

footer div a i {
  color: rgba(0, 0, 0, 0.7);
}

header,
header .title,
header .arrow-down,
#mosaic--contact {
  color: #fff;
}

header .mosaic--divider,
#mosaic--contact .mosaic--divider {
  border-top: 1px solid rgba(230, 230, 230, 0.9);
}

.add-margin {
  padding-top: 35vh;
}

.add-margin h1.title {
  margin-left: 0;
}

.add-margin.container.has-text-centered {
  min-height: 100vh;
}

.arrow-down i {
  margin-top: 1.2em;
  font-size: 1.1em;
}

.arrow-down {
  color: #fff;
}

.arrow-down.dark,
.arrow-down.dark:hover,
.arrow-down.dark:focus {
  color: rgba(0, 0, 0, 0.7);
}

.img-container.container {
  max-width: 100%;
}

.img-container .columns:not(:last-child) {
  margin-bottom: 0;
}

.img-container .column.is-half {
  padding: 0;
}

.img-container img {
  filter: grayscale(100%);
}

.img-container img {
  transition: 0.5s ease;
}

.img-container img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.fa {
  font-size: 1.2em;
}

.icon-container {
  margin-top: 1.2em;
}

.icon-container .fa {
  color: #fff;
  font-size: .6em;
}

.icon-container a:not(:first-child) {
  margin-left: .7em;
}

.mosaic--divider {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  width: 40%;
  margin-top: 1.2em;
  transition: 0.6s linear;
}

.title {
  word-spacing: 9999px;
  display: block;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 8.333%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}

.title span.mosaic--subtitle {
  color: #ff8080;
  font-weight: 700;
}

.subtitle:not(:last-child), .title:not(:last-child) {
  margin-bottom: 0.25em;
}

#mosaic--contact a {
  color: #ff8080;
}

#mosaic--contact a:hover,
#mosaic--contact a:focus {
  color: #ff1a1a;
}

::selection {
  color: #fff;
  background-color: #000;
}

/* Images */
#mosaic--about,
#mosaic--hero,
#mosaic--contact {
  background-repeat: no-repeat;
  background-size: cover;
}
#mosaic--about {
  background-image: url('../img/bg-3.jpg');
}


#mosaic--contact {
  background-image: url('../img/bg-2.jpg');
}

#mosaic--hero {
  background-image: url('../img/bg-1.jpg');
}
