.mosaic-player {
  width: 360px;
  height: 60px;
  margin: 50px auto auto auto;
  background-color: #e6e6e6;
}

.mosaic-hover {
  background: rgba(0, 0, 0,.1);
  width: 0px;
  top: -60px;
  height: 59px;
  margin-top: 1px;
  cursor: pointer;
  position: relative;
}

.mosaic-timeline {
  width: calc(100% - 67px);
  height: 60px;
  float: left;
  background: #e6e6e6;
  cursor: pointer;
}

.mosaic-playhead {
  width: 0px;
  height: 59px;
  margin-top: 1px;
  background: rgba(0, 0, 0,.1);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.mosaic-duration {
/*  line-height: 30px;
  position: relative;
  top: -37px;
  left: 50%;
  font: 12px 'Montserrat',Helvetica,sans-serif;
  pointer-events: none;*/
  display: none;
}

.fa.fa-play,
.fa.fa-pause {
  height:60px;
  width: 60px;
  padding-right: 37px;
  border: none;
  background-color: #e6e6e6;
  float:left;
  outline:none;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 0;
}

.fa.fa-play:hover,
.fa.fa-pause:hover {
  background-color: #d9d9d9;
}

.fa.fa-play:active,
.fa.fa-pause:active {
  background-color: #bfbfbf;
}

.fa.fa-play {
  color: #4b9a7a;
}

.fa.fa-play:hover {
  color: #66b595;
}

.fa.fa-play:active {
  color: #366b55;
}

.fa.fa-pause {
  color: #954535;
}

.fa.fa-pause:hover {
  color: #ba5642;
}

.fa.fa-pause:active {
  color: #6f3327;
}
